.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 50%;
    margin: auto;
}

.container:last-child textarea{
    width: 200px;
    height: 150px;
}