.container{
    display: grid;
    /* border: 1px solid black; */
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;
    gap: 10px;
    padding: 10px;
}




@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    
   


}

@media only screen and (max-width: 1000px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    
   


  }

