.container{
    border-top: 1px solid hsla(0,0%,0%,0.17);;
    grid-column: 2/3;
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*---------------------------------------------DarkMode-----------------------------------------------------------*/









/*----------------------------------------------------------------------------------------------------------------*/
.footerLinksContainer{
    /* border:1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    flex-basis: 40%;
}

.footerCreatedContainer{
    /* border: 1px solid black; */
    display: flex;
    flex-basis: 40%;
    border:1px solid black;
    justify-content: space-around;
    align-items: center;
}

.footerCreatedContainer li{
    margin: 0;
}

.footerCreatedContainer li img{
    width: 25px;
    /* height: 20px */
}