.container{
    border-top: 1px solid hsla(0,0%,0%,0.17);
    grid-column: 2/3;
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*---------------------------------------------DarkMode-----------------------------------------------------------*/









/*----------------------------------------------------------------------------------------------------------------*/
.footerLinksContainer{
    /* border:1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 40%;
    list-style: none;
    color: #999;
    font-weight: 600;
}

.footerCreatedContainer{
    color: #999;
    font-weight: 600;
    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footerCreatedContainer li{
    margin: 0;
}

.footerCreatedContainer li img{
    width: 25px;
    /* height: 20px */
}

@media only screen and (max-width: 600px) {
    .footerCreatedContainer{
        display: none;
    }
    .footerLinksContainer li:nth-child(2){
        display: none;
         
    }
  }

  @media only screen and (max-width: 1000px) {
    .footerCreatedContainer{
        display: none;
    }
    .footerLinksContainer li:nth-child(2){
        display: none;
         
    }

  }